{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<style>
.page-contenu{
    max-width: 300px;
    margin-right: auto;
    margin-left:auto;
    margin-top: 130px;
    background-color: #FDFDFD;
    padding: 10px;
    border: solid 3px #3A57A6;
    border-radius: 10px;
    
}

hr{
    max-width:100px;
    height: 1px;
}

.btn-valider{
    margin-top: 5px;

}
</style>

{% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3 alert alert-warning">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

<div class="page-contenu">
    <form method="post">
        
        <h1 class="h3 mb-3 font-weight-normal text-center">Connexion</h1>
        <hr>
        <strong><label for="inputUsername">Pseudo</label></strong>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
        <strong><label for="inputPassword">Mot de passe</label></strong>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
      #}

        <button class="btn btn-success btn-valider" type="submit"> Valider</button>

    </form>
</div>
{% endblock %}
