{% extends 'base.html.twig' %}

{% block title %}VeilleInfo{% endblock %}

{% block body %}
    <h1>VeilleInfo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ veille_info.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ veille_info.titre }}</td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ veille_info.lien }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ veille_info.description }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ veille_info.note }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('veille_info_index') }}">back to list</a>

    <a href="{{ path('veille_info_edit', {'id': veille_info.id}) }}">edit</a>

    {{ include('veille_info/_delete_form.html.twig') }}
{% endblock %}
