{% extends 'base.html.twig' %}

{% block title %}Liste des liens{% endblock %}

{% block body %}
<style>
h1{
    text-align:center;
}

.hr{
    max-width: 150px;
    height: 1px;
    background-color: #CCCCCC;
}
table{
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  max-width: 95%;
}

td,th
{
  border: 1px solid black;
}
th{
  border: 1px solid grey;
    padding: 10px;
    background-color: lightgrey;
}
td{
  border: 1px solid grey;
    padding: 10px;
    background-color: #F0F0F0;
}

tr:nth-child(odd) td {
  background-color: white;
}
.button{
    text-align: center;
    margin-top: 20px;
}
button{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    padding: 6px 12px;
    border-radius: 10px;
    margin-left:auto;
    margin-right:auto;
}
a{
    text-decoration:none; 
    color:black;
    font-weight:bold;
}

</style>

    <h1>TOP 10 Veille informatique</h1>
    <hr class="hr">

    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Titre</th>
                <th>Lien</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for veille_info in veille_infos %}
            <tr>
                <td>{{ veille_info.id }}</td>
                <td>{{ veille_info.titre }}</td>
                <td>{{ veille_info.lien }}</td>
                <td>{{ veille_info.note }}</td>
                <td>
                    <a href="{{ path('veille_info_show', {'id': veille_info.id}) }}"><i class="fas fa-eye"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6"> Nous n'avons rien à vous proposer :/</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
