{% extends 'base.html.twig' %}
{% block body %}
	<style>
		.page-contenu {
			max-width: 300px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 80px;
			padding: 10px;
			border: solid 3px #3A57A6;
			border-radius: 10px;

		}

		hr {
			max-width: 100px;
			height: 1px;
		}
		label {
			font-weight: bold;
		}

		.btn-success {
			margin-top: 10px;
			max-width: 100px;
			margin-left: 60%;
		}

		.btn-danger {
			margin-top: -65px;
			margin-left: 10px;
		}

		div {
			display: flex;
			flex-direction: column;
		}
	</style>
	<h1 class="h3 mb-3 font-weight-normal text-center">Nous contacter</h1>
	<hr class="hr">
	<div class="col-sm-12">
		<div class="form-group">
			{{ form_start(form) }}
			{{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}


		</div>
		<div class="form-group">
			{{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}

		</div>
		<div class="form-group">
			{{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}

		</div>

		<div class="form-group">
			<input type="submit" value="Envoyer" class="btn btn-primary py-3 px-5">
		</div>
		{{ form_end(form) }}
	</div>

</div>{% endblock %}
