<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Symfony veille</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('article_index') }}">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('veille_info_index') }}">Veille info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('veille_info_top10') }}">TOP 10 de la veille info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
      </li>
    </ul>
      <div class="button"><a href="{{ path('app_login') }}"><button type="button" class="btn btn-primary">se connecter</button></a></div>
      <div class="button"><a href="{{ path('app_register') }}"><button type="button" class="btn btn-link">s'inscrire</button></a></div>
  </div>
</nav>
        {% block body %}{% endblock %}
    </body>
</html>
